body {
  background-image: url("https://images4.alphacoders.com/758/75886.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.loading {
  display: none;
}
