/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 80%;
    width: 80%;
    margin: auto;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  

  /* #heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    animation: moveHeart 3s linear infinite;
    z-index: 10;
  }
  
  @keyframes moveHeart {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: calc(random(0, 100) * 1%);
      left: calc(random(0, 100) * 1%);
    }
  }
   */